@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html[data-theme="light"] {
  --background: hsl(182, 94%, 86%);
  --container-bg: hsl(182, 94%, 86%);
  --foreground: #ffffff;
  --side-bg: #1b68c0;
  --btn-bg: #002169;
  --btn-color: hsl(182, 94%, 86%);
  --btn-shadow: 5px 5px 20px #000000;
  --aside-shadow: 5px 5px 24px #000000;
  --title-color: #002169;
}

html[data-theme="dark"] {
  --background: linear-gradient(135deg, #05122D, #0C1444, #1C1854, #2E145D, #261342);
  --container-bg: linear-gradient(135deg, #05122D, #0C1444, #1C1854, #2E145D, #261342);
  --foreground: #8ce2e2;
  --side-bg: #031424;
  --btn-bg: #000536;
  --btn-color: #a84df3;
  --btn-shadow: 5px 5px 20px #000000;
  --aside-shadow: 5px 5px 24px #000000;
  --title-color: #8ce2e2;
}

html[data-theme="hacker"] {
  --background: #000000;
  --container-bg: url('hackerBg.gif');
  --foreground: #00ff00;
  --side-bg: #000000;
  --btn-bg: #000000;
  --btn-shadow: 0 0 13px #00ff00;
  --aside-shadow: 0 0 24px #00ff00;
  --btn-color: #00ff00;
  --title-color: #00ff00;
}

html[data-theme="maty"] {
  --background: linear-gradient(135deg, #E40303, #FF8C00, #FFED00, #008026, #004CFF, #732982);
  --container-bg: linear-gradient(135deg, #E40303, #FF8C00, #FFED00, #008026, #004CFF, #732982);
  --foreground: #ffffff;
  --side-bg: #ff00ff;
  --btn-bg: url('gay.jpg');
  --btn-bg-size: 25vh;
  --btn-border: 8px solid #ff6fff;
  --btn-shadow: 5px 5px 20px #000000ab;
  --aside-shadow: 5px 5px 24px #ff00ffc2;
  --btn-color: #fa20fa;
  --title-color: #fa20fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
