.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: stretch;
    background: linear-gradient(135deg, #05122D, #0C1444, #1C1854, #2E145D, #261342);
}

.side {
    background-color: #031424;
    width: 35vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    transition: 0.3s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0px 24px #000000;
}

.side:hover {
    width: 20%;
}

.btn {
    position: fixed;
    width: 25vh;
    position: relative;
    z-index: 1;
    background: #000536;
    color: #a84df3;
    padding: 0.7rem 1.2rem;
    margin: 0.5rem 0;
    cursor: vertical-text;
    font-size: 3vh;
    font-weight: bold;
    transition: 0.3s;
    /*border: 3px solid #1e7bd1;
    border-radius: 10px;*/
    /*box-shadow: 0 0 8px #1e7bd1;
    border-radius: 10px;*/
    box-shadow: 0 0 20px #000000;
    border-radius: 10px;
}

.btn:hover {
    transform: scale(1.1);
    font-size: 3vh;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #a84df3;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.input {
    background: #03142430;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 20px #000000;
    border-radius: 50px;
    font-size: 1rem;
    flex-grow: 1;
    min-width: 0;
}

.lockin {
    background: #03142430;
    box-shadow: 0 0 20px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 40%;
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3vh;
}

.kontejnr {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #05122D, #0C1444, #1C1854, #2E145D, #261342);
}